*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  font-size: 20px;
}

:root {
  --hue-neutral: 200;
  --hue-wrong: 0;
  --hue-correct: 145;
}

body {
  --hue: var(--hue-neutral);
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background: hsl(var(--hue), 100%, 20%);
}

body.correct {
  --hue: var(--hue-correct);
}

body.wrong {
  --hue: var(--hue-wrong);
}

.container {
  width: 800px;
  max-width: 80%;
  border-radius: 5px;
  background: white;
  padding: 30px;
  box-shadow: 0 0 10px 2px;
}

.button-grid {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 10px;
  margin: 20px 0;
}

.button {
  --hue: var(--hue-neutral);
  background: hsl(var(--hue), 100%, 50%);
  border: 2px solid hsl(var(--hue), 100%, 30%);
  border-radius: 5px;
  padding: 5px 10px;
  color: white;
  outline: none;
}

.button:hover {
  border-color: black;
}

.button.correct {
  --hue: var(--hue-correct);
  color: black;
}

.button.wrong {
  --hue: var(--hue-wrong);
  color: black;
}

.start-button,
.next-button {
  font-size: 1.5rem;
  padding: 10px 20px;
}

.controls {
  display: flex;
  align-items: center;
  justify-content: center;
}

.hidden {
  display: none;
}
